.range {
	display: block;
	appearance: none;
	height: 8px;
	border-radius: 8px;
	background-color: #52525b;
}

.range::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #f4f4f5;
}

.rangePlayer {
	width: 384px;
}

.rangeVolume {
	width: 100%;
}
